<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="splashExtension" name="Splash Extensions" schema="schema/splashExtension.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/slingshot_icon.png">
         <run
               class="slingshot.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="slingshot.Perspective"
            icon="icons/slingshot_icon.png"
            id="slingshot.perspective"
            name="Project">
      </perspective>
      <perspective
            class="slingshot.ModelViewPerspective"
            icon="icons/experiment.png"
            id="slingshot.modelViewPerspective"
            name="Model">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="slingshot.category.wizards"
            name="Slingshot Wizards">
      </category>
      <wizard
            class="slingshot.wizards.creation.SlingshotNewFileWizard"
            descriptionImage="icons/page_white_add.png"
            icon="icons/page_white_add.png"
            id="slingshot.wizards.file"
            name="File">
      </wizard>
      <wizard
            class="slingshot.wizards.creation.SlingshotNewFolderWizard"
            descriptionImage="icons/folder_add.png"
            icon="icons/folder_add.png"
            id="slingshot.wizards.folder"
            name="New Folder">
      </wizard>
      <wizard
            category="slingshot.category.wizards"
            class="slingshot.experiment.create.CreateExperimentWizard"
            icon="icons/experiment_new.png"
            id="slingshot.wizards.create.experiment"
            name="Experiment">
      </wizard>
      <!-- XXX wizard
            category="slingshot.category.wizards"
            class="slingshot.library.create.CreateLibraryWizard"
            icon="icons/slingshot_icon.png"
            id="slingshot.wizards.create.library"
            name="Library">
      </wizard -->
      <wizard
            category="slingshot.category.wizards"
            class="slingshot.wizards.imports.ImportSourceFile"
            icon="icons/page_code.png"
            id="slingshot.wizards.import.source"
            name="Import Model">
      </wizard>
      <wizard
            category="slingshot.category.wizards"
            class="slingshot.environment.creation.CreateEnvironmentWizard"
            descriptionImage="icons/page_white_gear.png"
            icon="icons/computer_add.png"
            id="slingshot.wizards.environment.create"
            name="Create/Edit Environments">
      </wizard>
      <wizard
            canFinishEarly="false"
            class="slingshot.experiment.launch.LaunchExperimentWizard"
            hasPages="true"
            icon="icons/run_exc.gif"
            id="slingshot.wizards.launch.LaunchExperiment"
            name="Launch Experiment">
      </wizard>
      <wizard
            class="slingshot.wizards.configuration.SlingshotConfig"
            icon="icons/script_code.png"
            id="slingshot.wizards.configuration.SlingshotConfig"
            name="Slingshot Config Wizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="slingshot.navigator.CustomNavigator"
            icon="icons/application_view_list.png"
            id="slingshot.navigator.view"
            name="Project Explorer"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="slingshot.model.ModelView"
            id="slingshot.views.model"
            name="Model"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            popupMenuId="slingshot.navigator.popup"
            viewerId="slingshot.navigator.view">
         <popupMenu
               id="slingshot.navigator.popup">
            <insertionPoint
                  name="group.new">
            </insertionPoint>
            <insertionPoint
                  name="group.build">
            </insertionPoint>
         </popupMenu>
      </viewer>
      <viewerActionBinding
            viewerId="slingshot.navigator.view">
         <includes>
            <actionExtension
                  pattern="slingshot.popup.SlingshotNewAction">
            </actionExtension>
            <actionExtension
                  pattern="slingshot.popup.SlingshotRefreshAction">
            </actionExtension>
            <actionExtension
                  pattern="slingshot.navigator.DoubleClickAction">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="slingshot.navigator.view">
         <includes>
            <contentExtension
                  pattern="slingshot.navigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         id="slingshot.experimentNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="slingshot.natures.ExperimentNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/folder_experiment.png"
            id="slingshot.experimentImage"
            natureId="slingshot.experimentNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="slingshot.navigator.ContentProvider"
            id="slingshot.navigatorContent"
            labelProvider="slingshot.navigator.LabelProvider"
            name="Slingshot Navigator Content">
         <triggerPoints>
            <instanceof
                  value="org.eclipse.core.resources.IWorkspaceRoot">
            </instanceof>
         </triggerPoints>
         <commonSorter
               class="slingshot.navigator.CategorySorter"
               id="slingshot.navigator.categorySorter">
            <parentExpression>
               <or>
                  <instanceof
                        value="slingshot.experiment.structure.ISlingshotExperimentElement">
                  </instanceof>
               </or>
            </parentExpression>
         </commonSorter>
         <enablement></enablement>
         <possibleChildren></possibleChildren>
         <actionProvider
               class="slingshot.navigator.DoubleClickActionProvider"
               id="slingshot.navigator.DoubleClickAction">
            <enablement></enablement>
         </actionProvider>
      </navigatorContent>
      <actionProvider
            class="slingshot.popup.SlingshotNewActionProvider"
            id="slingshot.popup.SlingshotNewAction">
         <enablement>
            <or>
               <adapt
                     type="java.util.Collection">
                  <count
                        value="0">
                  </count>
               </adapt>
               <instanceof
                     value="slingshot.experiment.structure.ISlingshotExperimentElement">
               </instanceof>
            </or>
         </enablement>
      </actionProvider>
      <actionProvider
            class="slingshot.popup.SlingshotRefreshActionProvider"
            id="slingshot.popup.SlingshotRefreshAction">
         <enablement>
            <or>
               <adapt
                     type="java.util.Collection">
                  <count
                        value="0">
                  </count>
               </adapt>
               <instanceof
                     value="slingshot.experiment.structure.ISlingshotExperimentElement">
               </instanceof>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         id="prime.content.contenttype"
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="slingshot.content.configuration"
            name="Slingshot Configuration"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="slingshot-config">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="py"
            id="slingshot.content.source"
            name="Slingshot Source"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="slingshot-exp">
            </parameter>
         </describer>
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="File"
               mnemonic="F">
            <menu
                  label="New">
               <command
                     commandId="org.eclipse.ui.newWizard"
                     icon="icons/page_white_add.png"
                     label="New File"
                     style="push">
                  <parameter
                        name="newWizardId"
                        value="slingshot.wizards.file">
                  </parameter>
               </command>
               <command
                     commandId="org.eclipse.ui.newWizard"
                     icon="icons/folder_add.png"
                     label="New Folder"
                     style="push">
                  <parameter
                        name="newWizardId"
                        value="slingshot.wizards.folder">
                  </parameter>
               </command>
               <separator
                     name="file.new.separator1"
                     visible="true">
               </separator>
               <command
                     commandId="org.eclipse.ui.newWizard"
                     icon="icons/experiment_new.png"
                     label="Create Experiment"
                     style="push">
                  <parameter
                        name="newWizardId"
                        value="slingshot.wizards.create.experiment">
                  </parameter>
               </command>
            </menu>
            <command
                  commandId="slingshot.fileOpen"
                  label="Open File"
                  style="push"
                  tooltip="Open  a File">
            </command>
            <separator
                  name="file.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.close"
                  label="Close File"
                  style="push"
                  tooltip="Close the selected File">
            </command>
            <command
                  commandId="org.eclipse.ui.file.closeAll"
                  label="Close All Files"
                  style="push"
                  tooltip="Close all open Files">
            </command>
            <separator
                  name="file.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.save"
                  icon="icons/disk.png"
                  label="Save File"
                  mnemonic="S"
                  style="push">
            </command>
            <separator
                  name="file.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="slingshot.switchWorkspace"
                  icon="icons/arrow_refresh.png"
                  label="Switch Workspace"
                  style="push"
                  tooltip="Switch the current Workspace">
            </command>
            <separator
                  name="file.separator5"
                  visible="true">
            </separator>
            <command
                  commandId="slingshot.exitCommand"
                  label="Quit Slingshot"
                  style="push"
                  tooltip="Quit Slingshot Application">
            </command>
         </menu>
         <menu
               label="Edit">
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  icon="icons/undo_edit.gif"
                  label="Undo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  icon="icons/redo_edit.gif"
                  label="Redo"
                  style="push">
            </command>
            <separator
                  name="editSeparator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.cut"
                  icon="icons/cut_red.png"
                  label="Cut"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  icon="icons/page_white_copy.png"
                  label="Copy"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  icon="icons/page_white_paste.png"
                  label="Paste"
                  style="push">
            </command>
            <separator
                  name="editSeparator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  icon="icons/cross.png"
                  label="Delete"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.selectAll"
                  label="Select All"
                  style="push">
            </command>
            <separator
                  name="editSeparator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.findReplace"
                  label="Find / Replace"
                  style="push">
            </command>
         </menu>
         <menu
               id="experimentMenu"
               label="Experiment"
               mnemonic="E">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  icon="icons/experiment_new.png"
                  label="Create Experiment"
                  mnemonic="N"
                  style="push">
               <parameter
                     name="newWizardId"
                     value="slingshot.wizards.create.experiment">
               </parameter>
            </command>
            <command
                  commandId="slingshot.experiment.open"
                  icon="icons/experiment.png"
                  id="O"
                  label="Open Experiment"
                  style="push"
                  tooltip="Open an existing Experiment">
            </command>
            <command
                  commandId="slingshot.experiment.save"
                  icon="icons/disk.png"
                  label="Save Experiment"
                  mnemonic="S"
                  style="push"
                  tooltip="Save the Experiment">
            </command>
            <command
                  commandId="slingshot.experiment.close"
                  icon="icons/cross.png"
                  label="Close Experiment"
                  mnemonic="W"
                  style="push">
            </command>
            <command
                  commandId="slingshot.experiment.exportModel"
                  icon="icons/folder_go.png"
                  label="Export Model"
                  mnemonic="E"
                  style="push"
                  tooltip="Export the model of this Experiment to a File">
            </command>
            <separator
                  name="experiment.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="slingshot.experiment.editDefaults"
                  icon="icons/folder_wrench.png"
                  label="Edit Defaults"
                  style="push"
                  tooltip="View/Edit the default values for all non-specified model attributes">
            </command>
            <command
                  commandId="slingshot.experiment.validate"
                  icon="icons/flag_red.png"
                  label="Validate Experiment"
                  mnemonic="V"
                  style="push"
                  tooltip="Validate the Model in this Experiment">
            </command>
            <command
                  commandId="slingshot.experiment.compile"
                  icon="icons/brick.png"
                  label="Compile Experiment"
                  mnemonic="C"
                  style="push"
                  tooltip="Compile the current experiment">
            </command>
            <separator
                  name="experiment.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="slingshot.experiment.launch"
                  icon="icons/run_exc.gif"
                  label="Launch Experiment"
                  mnemonic="L"
                  style="push"
                  tooltip="Launch the current compiled experiment">
            </command>
            <command
                  commandId="slingshot.experiment.terminate"
                  icon="icons/cancel.png"
                  label="Terminate Experiment"
                  mnemonic="X"
                  style="push"
                  tooltip="Force Termination of the running Experiment">
            </command>
            <separator
                  name="experiment.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="slingshot.experiment.attach"
                  icon="icons/connect.png"
                  label="Attach"
                  mnemonic="A"
                  style="push"
                  tooltip="Attach the Interactive Model with the Running Experiment">
            </command>
            <command
                  commandId="slingshot.experiment.dettach"
                  icon="icons/disconnect.png"
                  label="Dettach"
                  mnemonic="D"
                  style="push"
                  tooltip="Dettach the Interactive Model from the Running Experiment">
            </command>
            <separator
                  name="experiment.separator4"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.newWizard"
                  icon="icons/computer_add.png"
                  label="Create/Edit Environments"
                  style="push"
                  tooltip="Create/Edit Environments">
               <parameter
                     name="newWizardId"
                     value="slingshot.wizards.environment.create">
               </parameter>
            </command>
         </menu>
         <menu
               label="Tools"
               mnemonic="T">
               
            <command
                  commandId="slingshot.TopologyCommand"
                  icon="icons/computer_add.png"
                  label="Generate Hybrid Model"
                  style="push"
                  tooltip="Generate Hybrid Network Model consisting emulated or simulated nodes">
            </command>
            
            <command
                  commandId="slingshot.TopologyCommand"
                  icon="icons/computer_add.png"
                  label="Generate Model"
                  style="push"
                  tooltip="Generate the Model for an Experiment or Library">
            </command>
            
            <command
                  commandId="slingshot.analyzeModel"
                  icon="icons/computer_edit.png"
                  label="Analyze Model"
                  style="push">
            </command>
            <command
                  commandId="slingshot.validateModel"
                  icon="icons/flag_red.png"
                  label="Validate Model"
                  style="push"
                  tooltip="Validate the selected Model File">
            </command>
            <separator
                  name="tools.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.newWizard"
                  label="Preferences"
                  mnemonic="P"
                  style="push"
                  tooltip="Configure important global variables for Slingshot&apos;s operation">
               <parameter
                     name="newWizardId"
                     value="slingshot.wizards.configuration.SlingshotConfig">
               </parameter>
            </command>
         </menu>
         <menu
               label="Window">
            <command
                  commandId="org.eclipse.ui.perspectives.showPerspective"
                  icon="icons/perspective_slingshot.png"
                  label="Project Perspective"
                  style="push">
               <parameter
                     name="org.eclipse.ui.perspectives.showPerspective.perspectiveId"
                     value="slingshot.perspective">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.perspectives.showPerspective"
                  icon="icons/perspective_experiment.png"
                  label="Model Perspective"
                  style="push">
               <parameter
                     name="org.eclipse.ui.perspectives.showPerspective.perspectiveId"
                     value="slingshot.modelViewPerspective">
               </parameter>
            </command>
            <separator
                  name="window.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.closePerspective"
                  label="Close Perspective"
                  style="push">
            </command>
         </menu>
         <menu
               label="Help"
               mnemonic="H">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  label="About"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="slingshot.ExperimentToolbar">
            <command
                  commandId="slingshot.experiment.save"
                  icon="icons/disk.png"
                  label="Save"
                  style="push"
                  tooltip="Save current experiment">
            </command>
            <command
                  commandId="org.eclipse.ui.newWizard"
                  icon="icons/experiment_new.png"
                  label="Create Experiment"
                  style="push"
                  tooltip="Create Experiment">
               <parameter
                     name="newWizardId"
                     value="slingshot.wizards.create.experiment">
               </parameter>
            </command>
            <separator
                  name="experiment.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="slingshot.experiment.compile"
                  icon="icons/brick.png"
                  label="Compile Experiment"
                  style="push"
                  tooltip="Compile currently selected Experiment">
            </command>
            <command
                  commandId="slingshot.experiment.launch"
                  icon="icons/run_exc.gif"
                  label="Launch Experiment"
                  style="push"
                  tooltip="Launch currently selected Experiment">
            </command>
            <command
                  commandId="slingshot.experiment.terminate"
                  icon="icons/cancel.png"
                  label="Terminate Experiment"
                  style="push"
                  tooltip="Terminate the current Experiment">
            </command>
            <separator
                  name="experiment.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="slingshot.experiment.attach"
                  icon="icons/connect.png"
                  label="Attach Experiment"
                  style="push"
                  tooltip="Attach the model with the running Experiment">
            </command>
            <command
                  commandId="slingshot.experiment.dettach"
                  icon="icons/disconnect.png"
                  label="Dettach Experiment"
                  style="push"
                  tooltip="Dettach the model from the running Experiment">
            </command>
            <separator
                  name="experiment.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.newWizard"
                  icon="icons/computer_add.png"
                  label="Create/Edit Environments"
                  style="push"
                  tooltip="Create/Edit Environments">
               <parameter
                     name="newWizardId"
                     value="slingshot.wizards.environment.create">
               </parameter>
            </command>
         </toolbar>
         <!-- XXX toolbar
               id="slingshot.LibraryToolbar">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  icon="icons/folder_slingshot.png"
                  label="Create Library"
                  style="push"
                  tooltip="Create Library">
               <parameter
                     name="newWizardId"
                     value="slingshot.wizards.create.library">
               </parameter>
            </command>
            <separator
                  name="library.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="slingshot.library.finalize"
                  icon="icons/flag_red.png"
                  label="Finalize Library"
                  style="push"
                  tooltip="Finalize the currently selected Library">
            </command>
         </toolbar -->
      </menuContribution>
      <menuContribution
            locationURI="popup:slingshot.navigator.view">
         <separator
               name="slingshot.popup.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.copy"
               icon="icons/page_white_copy.png"
               label="Copy"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.paste"
               icon="icons/page_white_paste.png"
               label="Paste"
               style="push">
         </command>
         <command
               commandId="slingshot.deleteCommand"
               icon="icons/cross.png"
               label="Delete"
               style="push">
         </command>
         <separator
               name="slingshot.popup.separator2"
               visible="true">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="slingshot.experiment.commands"
            name="Experiment Commands">
      </category>
      <command
            defaultHandler="slingshot.spyconsole.command.BackspaceHandler"
            id="slingshot.spyconsole.backspace"
            name="SPyConsoleBackspace">
      </command>
      <command
            defaultHandler="slingshot.commands.DeleteHandler"
            id="slingshot.deleteCommand"
            name="Delete">
      </command>
      <command
            categoryId="slingshot.experiment.commands"
            defaultHandler="slingshot.experiment.commands.ExperimentOpenHandler"
            id="slingshot.experiment.open"
            name="Experiment Open">
      </command>
      <command
            categoryId="slingshot.experiment.commands"
            defaultHandler="slingshot.experiment.commands.ExperimentExportModelHandler"
            id="slingshot.experiment.exportModel"
            name="Experiment Export Model">
      </command>
      <command
            categoryId="slingshot.experiment.commands"
            defaultHandler="slingshot.experiment.commands.ExperimentEditDefaultsHandler"
            id="slingshot.experiment.editDefaults"
            name="Experiment Edit Defaults">
      </command>
      <command
            categoryId="slingshot.experiment.commands"
            defaultHandler="slingshot.experiment.commands.ExperimentRunHandler"
            id="slingshot.experiment.launch"
            name="Experiment Launch">
      </command>
      <command
            defaultHandler="slingshot.commands.TopologyHandler"
            id="slingshot.TopologyCommand"
            name="Tools Generate Model">
      </command>
      <command
            defaultHandler="slingshot.spyconsole.command.CopyHandler"
            id="slingshot.spyconsole.copy"
            name="SPyConsoleCopy">
      </command>
      <command
            defaultHandler="slingshot.spyconsole.command.CutHandler"
            id="slingshot.spyconsole.cut"
            name="SPyConsoleCut">
      </command>
      <command
            defaultHandler="slingshot.spyconsole.command.PasteHandler"
            id="slingshot.spyconsole.paste"
            name="SPyConsolePaste">
      </command>
      <command
            defaultHandler="slingshot.spyconsole.command.EnterHandler"
            id="slingshot.spyconsole.enter"
            name="SPyConsoleEnter">
      </command>
      <command
            defaultHandler="slingshot.spyconsole.command.TabHandler"
            id="slingshot.spyconsole.tab"
            name="SPyConsoleTab">
      </command>
      <command
            defaultHandler="slingshot.spyconsole.command.ShiftHomeHandler"
            id="slingshot.spyconsole.shiftHome"
            name="SPyConsoleShiftHome">
      </command>
      <command
            defaultHandler="slingshot.spyconsole.command.ShiftEndHandler"
            id="slingshot.spyconsole.shiftEnd"
            name="SPyConsoleShiftEnd">
      </command>
      <command
            defaultHandler="slingshot.spyconsole.command.HomeHandler"
            id="slingshot.spyconsole.home"
            name="SPyConsoleHome">
      </command>
      <command
            defaultHandler="slingshot.spyconsole.command.EndHandler"
            id="slingshot.spyconsole.end"
            name="SPyConsoleEnd">
      </command>
      <command
            defaultHandler="slingshot.spyconsole.command.ShiftLeftHandler"
            id="slingshot.spyconsole.shiftLeft"
            name="SPyConsoleShfitLeft">
      </command>
      <command
            defaultHandler="slingshot.spyconsole.command.ShiftRightHandler"
            id="slingshot.spyconsole.shiftRight"
            name="SPyConsoleShiftRight">
      </command>
      <command
            defaultHandler="slingshot.spyconsole.command.ArrowUpHandler"
            id="slingshot.spyconsole.arrowUp"
            name="SPyConsoleArrowUp">
      </command>
      <command
            defaultHandler="slingshot.spyconsole.command.ArrowDownHandler"
            id="slingshot.spyconsole.arrowDown"
            name="SPyConsoleArrowDown">
      </command>
      <command
            defaultHandler="slingshot.spyconsole.command.ArrowLeftHandler"
            id="slingshot.spyconsole.arrowLeft"
            name="SPyConsoleArrowLeft">
      </command>
      <command
            defaultHandler="slingshot.spyconsole.command.ArrowRightHandler"
            id="slingshot.spyconsole.arrowRight"
            name="SPyConsoleArrowRight">
      </command>
      <command
            defaultHandler="slingshot.spyconsole.command.DeleteHandler"
            id="slingshot.spyconsole.delete"
            name="SPyConsoleDelete">
      </command>
      <command
            categoryId="slingshot.experiment.commands"
            defaultHandler="slingshot.experiment.commands.ExperimentValidateHandler"
            id="slingshot.experiment.validate"
            name="Experiment Validate">
      </command>
      <command
            defaultHandler="slingshot.commands.ExitHandler"
            id="slingshot.exitCommand"
            name="Exit">
      </command>
      <command
            categoryId="slingshot.experiment.commands"
            defaultHandler="slingshot.experiment.commands.ExperimentCompileHandler"
            id="slingshot.experiment.compile"
            name="Experiment Compile">
      </command>
      <command
            categoryId="slingshot.experiment.commands"
            defaultHandler="slingshot.experiment.commands.ExperimentSaveHandler"
            id="slingshot.experiment.save"
            name="Experiment Save">
      </command>
      <command
            categoryId="slingshot.experiment.commands"
            defaultHandler="slingshot.experiment.commands.ExperimentCloseHandler"
            id="slingshot.experiment.close"
            name="Experiment Close">
      </command>
      <command
            categoryId="slingshot.experiment.commands"
            defaultHandler="slingshot.experiment.commands.ExperimentAttachHandler"
            id="slingshot.experiment.attach"
            name="Experiment Attach">
      </command>
      <command
            categoryId="slingshot.experiment.commands"
            defaultHandler="slingshot.experiment.commands.ExperimentDettachHandler"
            id="slingshot.experiment.dettach"
            name="Experiment Dettach">
      </command>
      <command
            categoryId="slingshot.experiment.commands"
            defaultHandler="slingshot.experiment.commands.ExperimentTerminateHandler"
            id="slingshot.experiment.terminate"
            name="Experiment Terminate">
      </command>
      <command
            defaultHandler="slingshot.commands.ValidateModelHandler"
            id="slingshot.validateModel"
            name="Tools Validate Model">
      </command>
      <command
            defaultHandler="slingshot.commands.AnalyzeModelHandler"
            id="slingshot.analyzeModel"
            name="Tools Analyze Model">
      </command>

      <command
            defaultHandler="slingshot.commands.ImportLibraryHandler"
            id="slingshot.importLibrary"
            name="Tools Import Library">
      </command>
      <command
            defaultHandler="slingshot.commands.OpenFileHandler"
            id="slingshot.fileOpen"
            name="File Open">
      </command>
      <command
            defaultHandler="slingshot.configuration.SwitchWorkspaceHandler"
            id="slingshot.switchWorkspace"
            name="Switch Workspace">
      </command>
   </extension>
   <extension
         id="product"
         name="Slingshot"
         point="org.eclipse.core.runtime.products">
      <product
            application="slingshot.application"
            description="Primex IDE"
            name="Slingshot">
         <property
               name="appName"
               value="Slingshot">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="5,253,330,20">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupProgressRect"
               value="3,273,330,15">
         </property>
         <property
               name="windowImages"
               value="/slingshot/icons/icon_16.png,/slingshot/icons/icon_32.png,/slingshot/icons/icon_48.png,/slingshot/icons/icon_64.png,/slingshot/icons/icon_128.png">
         </property>
         <property
               name="aboutImage"
               value="/slingshot/icons/icon_128.png">
         </property>
         <property
               name="aboutText"
               value="Slingshot is maintained by the Modeling and Networking Systems Research Group at Florida International University. &#x0A;&#x0A;Visit our wesite at www.primessf.net/PrimoGENI for more details.">
         </property>
      </product>
   </extension>
   <extension
         id="product2"
         name="Slingshot"
         point="org.eclipse.core.runtime.products">
      <product
            application="slingshot.application"
            description="Primex IDE"
            name="Slingshot Product">
         <property
               name="appName"
               value="Slingshot Product">
         </property>
         <property
               name="windowImages"
               value="icons/icon_16.png,icons/icon_32.png,icons/icon_48.png,icons/icon_64.png,icons/icon_128.png">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="5,253,330,20">
         </property>
         <property
               name="startupProgressRect"
               value="3,273,330,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.wst.xml.ui.internal.tabletree.XMLMultiPageEditorPart"
            default="false"
            id="slingshot.XMLeditor"
            name="XMLeditor">
      </editor>
      <editor
            class="com.rohanclan.afae.editor.AfaeEditor"
            default="false"
            id="slingshot.DefaultEditor"
            name="DefaultEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="slingshot.modelViewContext"
            name="ModelViewContext"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="slingshot.spyconsole.copy"
            contextId="slingshot.modelViewContext"
            platform="gtk"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+C">
      </key>
      <key
            commandId="slingshot.spyconsole.cut"
            contextId="slingshot.modelViewContext"
            platform="gtk"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+X">
      </key>
      <key
            commandId="slingshot.spyconsole.paste"
            contextId="slingshot.modelViewContext"
            platform="gtk"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+V">
      </key>
      <key
            commandId="slingshot.spyconsole.enter"
            contextId="slingshot.modelViewContext"
            platform="gtk"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ENTER">
      </key>
      <key
            commandId="slingshot.spyconsole.tab"
            contextId="slingshot.modelViewContext"
            platform="gtk"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="TAB">
      </key>
      <key
            commandId="slingshot.spyconsole.shiftHome"
            contextId="slingshot.modelViewContext"
            platform="gtk"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+HOME">
      </key>
      <key
            commandId="slingshot.spyconsole.shiftEnd"
            contextId="slingshot.modelViewContext"
            platform="gtk"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+END">
      </key>
      <key
            commandId="slingshot.spyconsole.home"
            contextId="slingshot.modelViewContext"
            platform="gtk"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="HOME">
      </key>
      <key
            commandId="slingshot.spyconsole.end"
            contextId="slingshot.modelViewContext"
            platform="gtk"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="END">
      </key>
      <key
            commandId="slingshot.spyconsole.shiftLeft"
            contextId="slingshot.modelViewContext"
            platform="gtk"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+ARROW_LEFT">
      </key>
      <key
            commandId="slingshot.spyconsole.shiftRight"
            contextId="slingshot.modelViewContext"
            platform="gtk"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+ARROW_RIGHT">
      </key>
      <key
            commandId="slingshot.spyconsole.arrowUp"
            contextId="slingshot.modelViewContext"
            platform="gtk"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ARROW_UP">
      </key>
      <key
            commandId="slingshot.spyconsole.arrowDown"
            contextId="slingshot.modelViewContext"
            platform="gtk"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ARROW_DOWN">
      </key>
      <key
            commandId="slingshot.spyconsole.arrowLeft"
            contextId="slingshot.modelViewContext"
            platform="gtk"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ARROW_LEFT">
      </key>
      <key
            commandId="slingshot.spyconsole.arrowRight"
            contextId="slingshot.modelViewContext"
            platform="gtk"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ARROW_RIGHT">
      </key>
      <key
            commandId="slingshot.spyconsole.delete"
            contextId="slingshot.modelViewContext"
            platform="gtk"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="DEL">
      </key>
      <key
            commandId="slingshot.spyconsole.backspace"
            contextId="slingshot.modelViewContext"
            platform="gtk"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="BS">
      </key>
   </extension>

</plugin>
